.node {
	cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 3px;
}

.node text {
  font: 12px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 2px;
}

body {
    background-color: rgb(232, 251, 253);
	font-family: 'Do Hyeon', sans-serif;
	font-size: large;
	height: 800px;
	width: auto;
}

select {
    font-size: .9rem;
    padding: 2px 5px;
	color: black;
}
#top{
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 500px;
}
#map{
	border: solid;
}